/* 1949 */
#y1949_5m {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/1949戒嚴.jpg)
}

#y1949_10m {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/1949古寧頭戰爭.jpg)
}

/*  1949*/

/* 1950年代 */
#y1950_6m {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/1950韓戰.jpg)
}

#y1950_6m_1 .y_w_c_img {

    background-image: url(../img/1950韓戰-3.jpg)
}

#y1950_6m_2 .y_w_c_img {
    background-image: url(../img/Korean_war_1950-1953.gif)
}

#y1950_8m {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/1950縣市長選舉.png)
}

#y1950_9m {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/1950舊金山和約.jpg)
}

#y1955_3m {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/1955.jpg)
}

#y1958_8m_1 .y_w_c_img {
    background-image: url(../img/823/06.jpg)
}

#y1958_8m_2 .y_w_c_img {
    background-image: url(../img/823/05.jpg)
}

#y1958_8m_3 .y_w_c_img {
    background-image: url(../img/823/03.jpg)
}

#y1958_8m {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/823砲戰-1.jpg)
}

#y1959_8m {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/1959八七水災-1.jpg)
}

/* 1950年代 */
/* 1960年代 */
#y1960_3m {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/1960總統連任.jpg)
}

#y1960_6m {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/1960艾森豪總統.jpg)
}

#y1962_10m {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/1962第一間電視台.jpg)
}

#y1965_7m {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/1965美援中止.jpg)
}

#y1966_12m {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/1966高雄加工出口區.jpg)
}

#y1968_9m {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/1968國民義務教育.jpg)
}

/* 1960年代 */
/* 1970年代 */
#y1971_10m_1 .y_w_c_img {
    background-image: url(../img/1970退出聯合國.jpg)
}

#y1971_10m_2 .y_w_c_img {
    background-image: url(../img/1970退出聯合國-2.jpg)
}

#y1971_10m_3 .y_w_c_img {
    background-image: url(../img/1970退出聯合國-3.png)
}

#y1971_10m_4 .y_w_c_img {
    background-image: url(../img/1970退出聯合國-4.jpg)
}

#y1972_9m {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/1972台日斷交.jpg)
}

#y1973_10m_1 .y_w_c_img {
    background-image: url(../img/10大建設.jpg)
}

#a1973_1 {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/10/01.jpg") no-repeat center;
}

#a1973_2 {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/10/02.jpg") no-repeat center;
}

#a1973_3 {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/10/03.jpg") no-repeat center;
}

#a1973_4 {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/10/04.jpg") no-repeat center;
}

#a1973_5 {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/10/05.jpg") no-repeat center;
}

#a1973_6 {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/10/06.jpg") no-repeat center;
}

#a1973_7 {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/10/07.jpg") no-repeat center;
}

#a1973_8 {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/10/08.jpg") no-repeat center;
}

#a1973_9 {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/10/09.jpg") no-repeat center;
}

#a1973_10 {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/10/10.jpg") no-repeat center;
}

#a1973_1:hover {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/10/11.jpg") no-repeat center;
}

#a1973_2:hover {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/10/12.jpg") no-repeat center;
}

#a1973_3:hover {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/10/13.jpg") no-repeat center;
}

#a1973_4:hover {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/10/14.jpg") no-repeat center;
}

#a1973_5:hover {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/10/15.jpg") no-repeat center;
}

#a1973_6:hover {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/10/16.jpg") no-repeat center;
}

#a1973_7:hover {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/10/17.jpg") no-repeat center;
}

#a1973_8:hover {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/10/18.jpg") no-repeat center;
}

#a1973_9:hover {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/10/19.jpg") no-repeat center;
}

#a1973_10:hover {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/10/20.jpg") no-repeat center;
}

#y1975_4m {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/1975蔣公辭世.jpg)
}

#y1978_1m {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/1978蔣經國.jpg)
}

#y1979_1m_1 .y_w_c_img {
    background-image: url(../img/1979中美斷交-3.jpg)
}

#y1979_1m_2 .y_w_c_img {
    background-image: url(../img/1979中美斷交.jpg)
}

#y1979_1m_3 .y_w_c_img {
    background-image: url(../img/1979中美斷交-4.jpg)
}

#y1979_1m_4 .y_w_c_img {
    background-image: url(../img/1979中美斷交-5.jpg)
}

/* 1970年代 */


/* 1980年代 */

#y1986_9m {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/1986民主進步黨-2.jpg)
}

#y1987_7m {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/1987解嚴.jpg)
}

#y1988_1m {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/1988_1.jpg)
}

#y1988_5m {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/1988_5.jpg);
}

#y1989_4m {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/1989_1.jpg)
}

#y1989_6m {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/1989_2.jpg);
}


/* 1980年代 */
/*1990 年代*/
#y1990_3m {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/1990_2.jpg)
}

#y1991_5m {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/1991_1.jpg)
}

#y1992_8m {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/1992_1.jpg)
}

#y1992_10m_1 .y_w_c_img {

    background-image: url(../img/1992_2.jpg)
}

#y1992_10m_2 .y_w_c_img {

    background-image: url(../img/1992_3.jpg)
}

#y1994_12m {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/1994_1.jpg)
}

#y1995_2m {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/1995_1.jpg)
}

#y1995_6m_1 .y_w_c_img {
    background-image: url(../img/1995_2.jpg)
}

#y1996_3m_1 .y_w_c_img {
    background-image: url(../img/1996_1.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

#y1996_3m_2 .y_w_c_img {
    background-image: url(../img/1996_2.jpg);
}

#y1996_3m_3 .y_w_c_img {
    background-image: url(../img/1996_3.jpg);
}

#y1996_3m_5 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/1996_5.jpg);
}

#y1998_1m {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/1998_1.jpg);
}

#a921_1 {
    background: url("../img/921_1.jpg") no-repeat center;
}

#a921_2 {
    background: url("../img/921_2.jpg") no-repeat center;
}

#a921_3 {
    background: url("../img/921_3.jpg") no-repeat center;
}

#a921_4 {
    background: url("../img/921_4.jpg") no-repeat center;
}

#a921_5 {
    background: url("../img/921_5.jpg") no-repeat center;
}

#a921_6 {
    background: url("../img/921_6.jpg") no-repeat center;
}

/*1990 年代*/

/* 2000年代 */
#y2000_3m_1 .y_w_c_img {
    background-image: url(../img/2000_1.jpg);
}

#y2002_1m {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/2002.jpg);
}

#y2003_3m {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/sars.jpg);
}

#y2004_3m_1 .y_w_c_img {
    background-image: url(../img/2004_2.jpg);
}

#y2004_3m_2 .y_w_c_img {
    background-image: url(../img/2004_1.jpg);
}

#y2006_1m {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/2006.jpg);
}

#y2006_9m {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/2006_2.jpg);
}

#y2007_1m {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/2007.jpg);
}

#y2008_3m_1 .y_w_c_img {
    background-image: url(../img/2008_2.jpg);
}

#y2009_5m {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/2009_1.jpg);
}

/*  2000年代*/

/*2010年代  */
#y2010_6m {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/2010_1.jpg);
}

#y2010_11m {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/2010_2.jpg);
}

#y2012_3m_1 .y_w_c_img {
    background-image: url(../img/2012_1.jpg);
}

#y2013_7m {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/2013_1.jpg);
}

#y2014_11m {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/2014.jpg);
}

#y2015_2m {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/2015_1.jpg);
}

#y2016_3m_1 .y_w_c_img {
    background-image: url(../img/2016_1.jpg);
}

#y2017_8m {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/2017_1.jpg);
}

#y2018_11m {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/2018_1.jpg);
}

#y2019_3m {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/2019_2.jpg);
}

#y2019_5m {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/2019_1.jpg);
}

/* 2010年代 */



/* 2020年代 */
#y2020_1m_1 .y_w_c_img {
    background-image: url(../img/2020_2.jpg);
}

#y2020_1m_3 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/2020_3.jpg);
}

#y2020_6m_1 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/2020_4.jpg);
}

#y2021_4m {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/2021_1.jpg);
}

#y2021_5m {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/2021_2.jpg);
}

#y2022_8m_1 .y_w_c_img {
    background-image: url(../img/2022_1.jpg);
}

#y2022_8m_2 .y_w_c_img {
    background-image: url(../img/2022_2.jpg);
}

#y2023_7m {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/2023_2.jpg);
}

#y2023_12m {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/2023_1.jpg);
}

#y2024_1m_1 .y_w_c_img {
    background-image: url(../img/2024_3.jpg);
}

#y2024_1m_2 .y_w_c_img {
    background-image: url(../img/2024_1.jpg);
}

#y2024_1m_3 .y_w_c_img {
    background-image: url(../img/2024_2.jpg);
}

#y2024_1m_4 .y_w_c_img {
    background-image: url(../img/2024_4.jpg);
}

/* 2020年代 */




/*y_bg*/
#y1950_bg {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/1950_bg.jpg)
}

#y1960_bg {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/1960_bg.jpg)
}

#y1970_bg {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/1970_bg.png)
}

#y1980_bg {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/1980_bg.jpg)
}

#y1990_bg {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/1990_bg.jpg)
}

#y2000_bg {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/2000_bg.jpg)
}

#y2010_bg {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/2010_bg.jpg)
}

#y2020_bg {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/2020_bg.jpg)
}

/*y_bg*/