  .main {
      background: url(../img/789.jpg) no-repeat center;
      background-size: cover;
      height: 100vh;
      width: 100vw;
      z-index: 9;
      text-align: center
  }
  
  html body {
      overflow: hidden;
      margin: 0px;
      padding: 0px;
  }
  
  .main .a1 {
      padding-top: 10%;
      width: 100%;
      margin: 0 auto;
      color: white;
      height: 40%;
  }
  
  .title {
      margin: 0px auto;
      padding: 20px 0px 0px 0px;
      font-size: 4em;
      font-weight: bold;
      font-family: 微軟正黑體;
      letter-spacing: 0.3em;
  }
  
  .titleen {
      font-size: 1.5em !important;
      font-weight: bold;
      font-family: Arial Black;
      letter-spacing: 0px;
  }
  
  button {
      margin-top: 10%;
      width: 15vw;
      height: 10vh;
      border: 5px solid white;
      color: white;
      font-size: 1.8em;
      font-weight: bold;
      border-radius: 10%;
      font-family: 微軟正黑體;
      transition: all 0.6s;
  }
  
  footer {
      width: 100%;
      height: 5vh;
      position: absolute;
      left: 0;
      bottom: 0px;
      text-align: center;
      line-height: 1.3em;
      font-size: 1.3em;
      color: rgba(224, 216, 216, 1.00);
      font-weight: bold;
      font-family: 微軟正黑體;
  }
  
  @media screen and (max-width: 1200px) {
      .a1 {
          transform: translateY(15vh) !important;
      }
      button {
          width: 30vw;
          height: 10vh;
          transform: translateY(5vh) !important;
      }
      footer {
          width: 100%;
          height: 3vh;
      }
  }