body {
    font-family: 微軟正黑體;
}

.backgroundcolor {
    height: 100%;
    background: rgba(213, 211, 211, 0.8);
    padding: 5% 0px;
}

.backgroundcolor .文字 {
    padding: 5%;
    text-indent: 2em;
}

.backgroundcolor p {
    padding: 5% 5% 2% 5%;
    font-size: 2em;
    font-family: 微軟正黑體;
    font-weight: 300;
}

.backgroundcolor h1 {
    padding: 40px;
    font-size: 50px;
    font-family: 微軟正黑體;
    font-weight: 1000;
}

.bds1 {
    background: url(../img/dog1218.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.bds2 {
    background: url(../img/cat1218.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.bds3 {
    background: url(../img/dog1218-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}