.handul .handli {
    list-style-type: none;
    position: relative;
    width: 6px;
    margin: 0px 0px 0px 0px;
    padding-top: 130px;
    background: #fff;
}

.handul .handli div img {
    position: absolute;
    left: 5px;
    top: 0px;
    width: 200px;
    height: 130px;
    opacity: 0.7;
}

.handul .handli div img:hover {
    opacity: 1.0;
}

.handul .handli div .text {
    position: absolute;
    top: 80px;
    left: 100px;
    font-size: 30px;
}

.handnav {
    position: fixed;
    left: 300px;
    top: 130px;
    z-index: 10;
    display: none;
}