.navhover a {
    color: white;
    border-top: 5px solid #072942;
    border-bottom: 5px solid #072942;
    text-decoration: none;
    transition: 0.3s ease-out;
    padding: 15px 0px;
}

nav li a:visited {
    color: white;
}

.navhover a:hover {
    text-decoration: none;
    font-weight: bold;
    color: white;
    text-shadow: #222 4px 4px 4px;
    border-top: 3px solid white;
    border-bottom: 3px solid white;
    transition: 0.3s ease-out;
    background: #072942;
    padding: 10px 0px;
}

nav li img {
    width: 10vw;
    height: 10vh;
}

nav li {
    margin-right: 1vw;
    margin-left: 1vw;
    float: left;
    line-height: 10vh;
    padding-right: 1vw;
    padding-left: 1vw;
    list-style: none;
    color: white;
    font-family: 標楷體;
    font-size: 2vw;
}

nav ul {
    padding-left: 0px;
}

nav {
    background: #072942;
    width: 100vw;
    height: 10vh;
    padding: 0px;
    margin: 0px;
    position: fixed;
    top: 0px;
    z-index: 99;
}

@media screen and (max-width: 1199px) {
    /*md-xl*/
    nav {
        height: 5vh;
    }
    nav li img {
        width: 10vw;
        height: 5vh;
    }
    nav li {
        margin-right: 1.2vw;
        margin-left: 1.2vw;
        line-height: 5vh;
        padding-right: 1.2vw;
        padding-left: 1.2vw;
        list-style: none;
        color: white;
        font-family: 標楷體;
        font-size: 1.8vw;
    }
}

.top {
    position: fixed;
    top: 70%;
    right: 2.5%;
    opacity: 0.6;
    animation-name: atop;
    animation-duration: 3s;
}

.top img {
    width: 100px;
    height: 100px;
}

@keyframes atop {
    from {
        top: 0%;
    }
    to {
        top: 70%;
    }
}

.top:hover {
    opacity: 0.9;
}