.main {
    background: #8288F4;
    margin-bottom: 5% !important;
}

.dataol {
    list-style: none;
}

.datali img {
    width: 100px
}

.datali {
    font-size: 25px;
    line-height: 20px;
    color: #000;
    padding: 20px;
    margin: 20px;
    font-family: 微軟正黑體;
}

.title {
    color: white;
    font-size: 50px;
    font-weight: bold;
}