.tnvrmain {
    margin: 0px auto;
    padding: 10% 0px !important;
}

.tnvrmain-1 {
    background: #57BAF6;
}

.tnvrmain-2 {
    background: #99CDFF;
}

.tnvrmain-3 {
    background: #57BAF6;
}

.tnvrmain-4 {
    background: #99CDFF;
}

.tnvrimg img {
    width: 70vw;
    padding: 0px 5%;
}

.petQ {
    margin: 0px auto;
    text-align: center;
}

.petQ img {
    height: 180px;
    width: 180px;
    margin: 0px auto;
    text-align: center;
}

.petQ p {
    color: #000;
    font-size: 3em;
    font-family: 微軟正黑體;
    font-weight: bold;
    text-align: center;
}

.tnvrtext {
    padding: 5%;
    margin: 0px auto;
    font-size: 2em;
    font-family: 微軟正黑體;
    text-align: justify;
    line-height: 2em;
}

.catQright {
    position: absolute;
    bottom: -50px;
    right: 12px;
    z-index: 5
}

.catQleft {
    position: absolute;
    bottom: -50px;
    left: 12px;
    z-index: 5
}

.container-fluid {
    padding: 0px
}

.main-1 {
    background: #429BC9
}

.main-3 {
    background: #429BC9;
    padding: 5%;
}

.main-1 h1 {
    text-align: center;
    padding-top: 5%;
    font-weight: bold;
    color: white;
    font-size: 4em;
}

.main-1 p {
    font-size: 2em;
    padding: 5%;
    color: white;
}

.tnvrpimg {
    text-align: center;
}

.a1225 {
    text-indent: 2em;
    padding: 2%;
    margin: 0px;
}

.tnvrtext span {
    font-weight: bold
}

.main-3 h1 {
    font-size: 4em;
    text-align: center;
    padding-top: 5%;
}

.灰字 {
    text-align: center;
    font-size: 0.5em;
    color: #2E2C2C
}

.main-3 p {
    font-family: 微軟正黑體;
    font-size: 2em;
    padding: 1% 0%;
    text-indent: 2em;
    line-height: 50px;
}

.main p span {
    font-weight: bold
}